.fakePrimary{
  background-color: #428bca;
  border-color: #357ebd;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;  
}

.fakeDefault{
  background-color: #adadad;
  border-color: #adadad;
  padding: 10px;
  border-radius: 5px;
  text-align: center;  
}