.joke_text{
  border: 1px solid black;
  padding: 10px;
}

.title{
  font-size: xx-large;
  font-family: "arial black";
  padding-bottom: 15px;
}

#next{
  
}

#googleLoginButton{
 margin: 20px; 
}

#tenMore{
  margin-left: 20px;  
}

#goHome{
  margin-top: 20px;
   margin-left: 20px;
}

.top-buffer { margin-top:20px; }

#insultExemplarText{
  border: 1px solid black;
  padding: 10px;
}


.exemplarContainer{
  margin: 25px;
}

.buttonContainer{
  text-align: center;
}
.startButton{
  padding: 20px;
  background-color: #33CC33;
  border:2px solid;
  border-radius:15px;
  /* margin: 20px;*/
}

.loginTeaserImage{
  height: 150px;
  margin: 10px;
  border: 1px solid black;
}


.loginStuff{
  padding: 20px;
  background-color: #33CC33;
  border:2px solid;
  border-radius:15px;
  margin: 20px; 

}


.attractiveButton{
  padding: 20px;
  background-color: #FFA500;
  border:2px solid;
  border-radius:15px;
  /* margin: 20px; */

}

#startButton{
  margin:20px;
}

.error{
  color: red;
}

.answer_selected{
  font-weight: bold;
  color: blue;
}

#progress{
  color:blue;
}

.radio_answer_text{
  margin-left:  5px;
}

tr.spaceUnder > td {
  padding-bottom: .5em;
}

.freeTextDivQuestion{
  padding-bottom: 5px;
}
/*

Examples for Instruction Pages

*/
.example_yes{
  color: green;
  font-weight: bold;
}

.example_no{
  color: red;
  font-weight: bold;
}

.example_unclear{
  color: blue;
  font-weight: bold;
}

.example_question{
  /* font-weight: bold; */
}

.example_answer{
  font-weight: bold;
}