.exemplarContainer{
  margin-top: 10px;
}

.insultExemplarText{
  border: 1px solid black;
  padding: 10px;
  
}


.exemplarContainer{
  margin: 25px;
}

#seeExample{
  margin: 10px;
  text-align: center;
}
